#menu_on{
	display: inline-block;
	width:30px;
	height: 20px;
	position: relative;
	z-index: 2;
    margin-top: 10px;
    margin-left: 10px;
}
 
#menu_on span{
	width: 100%;
	height: 4px;
	border-radius: 4px;
	display: block;
	position: absolute;
	background: #fff;
	transition: all 0.25s ease; /* Propiedades a animar | Tiempo | Tipo animación*/
	transform-origin : 0px 100%;
}
 
#menu_on span:nth-child(2){
	top: calc(50% - 2px);
}
 
#menu_on span:nth-child(3){
bottom: 0;
}

nav{
	position: fixed;
	top: 0;
	bottom: 0;
	left:-300px; /* Escondemos nuestro menú con un valor negativo */ 
	width: 300px;
	z-index: 1;
	padding: 90px 30px 30px;
	background: #22b0cf;
	opacity: 0;
	transition: all 0.75s ease;
	font-size: 1.2em;
	overflow-y: auto;
}

nav a{
	display:block;
	text-decoration: none;
	padding: 10px;
	color: rgba(255,255,255,0.75);
	border-bottom: 1px solid rgba(255,255,255,0.2);
	transition: all ease 0.25s;
}
 
nav a:hover{
	color: rgba(255,255,255,1);
	border-bottom-color:rgba(255,255,255,0.4);
}



.visible_menu span:nth-child(1){
	transform: rotate(45deg) translate(-2px,1px); 
}
 
.visible_menu span:nth-child(2){
	opacity: 0;
}
 
.visible_menu span:nth-child(3){
	transform: rotate(-45deg) translate(-3px,3px); 
}

.visible_menu nav{
	left: 0;
	opacity: 1;
}

body{
    background-image: url(img/fondo.png);
    background-repeat: no-repeat;
    
}

#redes{
    margin-right: 100px;
	margin-top: 10px;
}

#social a img{
    width: 60px;
    height: 60px;
    float: right;
    margin-top: -45%;
    margin-right: 200px; 
    transition: all 300ms;  
}

#social a img:hover{
     transform: scale(1.2);
}

#social2 a img{
    width: 60px;
    height: 60px;
    float: right;
    margin-top: -45%;
    margin-right: 100px;
    transition: all 300ms;   
}

#social2 a img:hover{
    transform: scale(1.2);
}

#social3 a img{
    width: 60px;
    height: 60px;
    float: right;
    margin-top: -45%;
    margin-right: 5px;
    transition: all 300ms;  
}

#social3 a img:hover{
    transform: scale(1.2);
}

/* Inicio indicador */
#indicador{
    width: 100px;
    margin-right: 20px;
    margin-top: -28px;
    float: right;
    border-radius: 10px;
    text-align: center;
    background-color: white;
    
}


/* Fin indicador */

/* Inicio descripcion larga de mi */

#fotoYo div img{
height: 800px;
width: 470px;
margin-left: 30px;
margin-top: 30px;
}

#yo{
    float: right;
    margin-top: -790px;
    margin-right: 250px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(62, 115, 212);
}


#lenguajes img{
    width: 100px;
    height: 100px;
    margin-right: 50px;
    margin-top: -689px;
    float: right;
}

#lenguajes1 img{
    width: 100px;
    height: 100px;
    margin-right: 50px;
    margin-top: -525px;
    float: right;
}

#lenguajes2 img{
    width: 88px;
    height: 86px;
    margin-right: 54px;
    margin-top: -352px;
    float: right;
}



/* Fin descripcion larga de mi */